@import "tailwindcss";
@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton/optional/presets";
@import "@skeletonlabs/skeleton/themes/cerberus";
@tailwind base;
@tailwind components;
@tailwind utilities;
@source "../node_modules/@skeletonlabs/skeleton-svelte/dist";
